* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Helvetica, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  background: rgb(255, 255, 255);
}

.navbar {
  background: #fff;
  width: 100%;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  span {
    margin-left: 2.5%;
    display: flex;
    align-items: center;
    font-weight: bold;
    img {
      width: 58px;
    }
    svg {
      margin-right: 16px;
      margin-left: 15px;
    }
  }
}

.sec2 {
  background: #fff;
  width: 100%;
  height: 65px;
  padding: 0 2.5%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sec2 > .dropdown {
  min-width: 300px;
  height: 100%;
  flex-grow: 1;
  width: 10%;

  select {
    width: 100%;
    height: 80%;
    font-size: 16px;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
  }
}

.sec2 > .input {
  height: 100%;
  flex-grow: 1;
  width: 50%;
  min-width: 300px;
  padding: 0px 10px;
  display: flex;

  input {
    width: 100%;
    height: 80%;
    font-size: 16px;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    padding-left: 10px;
  }

  button {
    width: 50px;
    height: 80%;
    background: #002f34;
    color: white;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    svg {
      fill: #ffffff;
    }
  }
}

.sec2 > .btn {
  height: 100%;
  min-width: 200px;
  display: flex;

  button {
    width: 50%;
    height: 70%;
    margin: 5px;
    border: 5px solid;
    border-image: linear-gradient(45deg, #ffd300, #00e6e6, #1e90ff) 1;
    font-size: 15px;
    border-radius: 50px;
  }
}

.btn > button:first-child {
  text-decoration: 2px underline #002f34;
  font-weight: bold;
  text-underline-offset: 4px;
  border: none;
}

.header {
  background: white;
  width: 100%;
  position: fixed;
  height: fit-content;
  z-index: 111;
}

.container {
  position: relative;
  padding: 0 2.5%;
  width: 100%;
  border-top: 1px solid #d6d6d6;
  /* margin-top: 10px; */
}

.container > .category {
  margin: 15px 0px;
}

.category > ul > li > select {
  border: none;
  font-weight: bold;
  font-size: 14px;
}

.container > .category > ul > li {
  display: inline;
  list-style: none;
  margin-right: 20px;
  font-size: 14px;
}

.container > .banner {
  width: 100%;
  margin: 30px 0px;

  img {
    border-radius: 7px;
    width: 100%;
  }
}

.all-category {
  margin: 40px 0px;
}
.categories {
  margin-top: 25px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: space-evenly;

  div {
    width: 88px;
    height: 88px;
    /* margin: 10px; */
    display: grid;
    place-items: center;
    font-weight: bold;
    text-align: center;
    img {
      width: 100%;
    }
  }
}

.catalog {
  width: 100%;
  height: 312px;
  margin-top: 120px;

  h2 {
    padding-left: 1rem;
    margin: 20px 0px;
  }

  .heading {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    h4 {
      color: royalblue;
    }
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  justify-content: space-around;
}

.card {
  min-width: 300px;
  height: 100%;
  border-radius: 6px;
  width: 10%;
  border: 1px solid #d6d6d6;
  display: flex;
  flex-direction: column;

  .image {
    width: 100%;
    height: 50%;
    img {
      width: 100%;
      height: 100%;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      object-fit: cover;
      overflow: hidden;
    }
  }

  .text {
    height: 50%;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .price {
      font-size: 18px;
    }

    .description {
      font-weight: normal;
      font-size: 16px;
    }

    .location {
      font-weight: normal;
      font-size: 14px;
    }

    .date {
      font-size: 13px;
    }
  }
}

.end {
  position: relative;
  width: 100%;
  margin-top: -250px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .first-img{
    min-width: 320px;
    height: 100%;
    border-radius: 6px;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img{
      width: 100%;
    }
  }
}

.pitch{
  min-width: 320px;
  height: 100%;
  border-radius: 6px;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pitch>p{
  margin: 0px 20px;
}

.second-img{
  border-left: 1px solid #d6d6d6;
  min-width: 320px;
  height: 100%;
  border-radius: 6px;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  

  .images{
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  img{
    width: 25%;
    margin: 0px 5px;
  }
}
